.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card:hover {
  cursor: pointer;
  transition: transform 0.5s;
  transform: scale(1.05);
}

.image-card {
  background-color: #ebebeb;
}

.info-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}
